@import url("//fonts.googleapis.com/css?family=Permanent+Marker|Source+Code+Pro");

@import "../javascripts/lib/codemirror/lib/codemirror.css";
@import "../javascripts/lib/bootstrap/dist/css/bootstrap";

main {
  @extend .container;
}

header {
  @extend .page-header;

  h1 {
    font-family: "Permanent Marker", serif;
    font-size: 48pt;
  }
}

table {
  @extend .table, .table-striped, .table-hover;

  th:last-child,
  td:last-child {
    text-align: right;
  }

  thead + tbody:empty {
    display: none;
  }
}

button {
  @extend .btn, .btn-primary;
}

.editors {
  @extend .row;

  margin-bottom: 20px;

  fieldset {
    @extend .col-lg-12;

    margin-bottom: 20px;

    input[type="text"] {
      @extend .form-control;
    }
  }

  #setup {
    @extend .col-lg-12;

    margin-bottom: 20px;
  }

  #lazy, #underscore {
    @extend .col-lg-6;
  }
}

.CodeMirror {
  font-family: "Source Code Pro", monospace;
  height: auto;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

@media all and (min-width: 1600px) {
  main {
    width: 75% !important;
    min-width: 1600px !important;
    max-width: 100% !important;
  }
}
