@mixin transition($property, $duration) {
  transition: $property $duration;
  -moz-transition: $property $duration;
  -o-transition: $property $duration;
  -webkit-transition: $property $duration;
}

main {
  @extend .container;
}

header {
  @extend .page-header;

  h1 {
    font-family: "Permanent Marker", serif;
    font-size: 48pt;
  }
}

#errors {
  @extend .alert, .alert-danger;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1ex 1em;
  text-align: center;
  z-index: 10;

  &:empty {
    display: none;
  }
}

#content {
  @extend .row;

  nav {
    @extend .col-lg-2, .col-md-4;

    .saved-benchmarks {
      @extend .list-group;

      a {
        @extend .list-group-item;

        position: relative;

        span.delete {
          @extend .glyphicon, .glyphicon-trash;

          display: none;
          position: absolute;
          top: 1em;
          right: 1em;

          &:hover {
            @extend .text-danger;
          }
        }

        small {
          @extend .text-muted;

          display: block;
        }

        &:hover span.delete {
          display: block;
        }

        &.highlighted {
          @extend .label-info;
          color: #fff;

          small {
            @extend .text-info;
            color: #fff;
          }

          @include transition(background-color, 1s);
        }

        @include transition(background-color, 1s);
      }
    }
  }

  #stage {
    @extend .col-lg-10, .col-md-8;
  }
}

table {
  @extend .table, .table-striped, .table-hover;

  th:not(:first-child),
  td:not(:first-child) {
    text-align: right;
  }

  thead + tbody:empty {
    display: none;
  }
}

button {
  @extend .btn, .btn-primary;
}

button#run-benchmarks {
  @extend .btn-info;
}

button#new-benchmark {
  @extend .btn-default;
}

button#save-benchmarks {
  @extend .btn-primary;
}

.editors {
  @extend .row;

  margin-bottom: 20px;

  fieldset {
    margin-bottom: 20px;

    .title, .input-sizes {
      @extend .col-lg-6, .col-md-6;
    }

    input[type="text"] {
      @extend .form-control;
    }
  }

  #setup {
    @extend .col-lg-12;

    margin-bottom: 20px;
  }

  #lazy, #underscore {
    @extend .col-lg-6;
  }
}

.CodeMirror {
  @extend .form-control;

  font-family: "Source Code Pro", monospace;
  height: auto;
  padding: 0;
}

.CodeMirror-focused {
  @extend .form-control:focus;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 200px;
}

@media all and (min-width: 1620px) {
  main {
    width: 75% !important;
    min-width: 1600px !important;
    max-width: 100% !important;
  }
}
