!!!
%html

  %head
    %title Racetrack
    = stylesheet_link_tag('all')
    = javascript_include_tag('//code.jquery.com/jquery-1.10.1.min.js')
    = javascript_include_tag('//code.highcharts.com/highcharts.js')
    = javascript_include_tag('all')

  %body
    %main
      %header
        %h1 Racetrack

      #errors

      #content
        %nav
          %h3 Saved Benchmarks
          .saved-benchmarks

        %section#stage
          #progress

          #chart.bar-chart(data-source="#results" data-options="getChartOptions" style="display: none;")

          %table#results
            %thead
              %tr
                %th Implementation

            %tbody

          .editors
            %fieldset
              .title
                %input(type="text" name="title" placeholder="Enter a title" value="map() N values")

              .input-sizes
                %input(type="text" name="input-sizes" placeholder="Input sizes, comma-delimited (e.g., 10, 100, 1000)" value="10, 100, 1000")

            #setup
              %textarea
                :preserve
                  // Setup code
                  var array = _.range(N);

                  function increment(x) { return x + 1; }
                  function isEven(x) { return x % 2 === 0; }
                  function noop(e) {}

            #lazy
              %textarea
                :preserve
                  // Lazy code
                  Lazy(array).map(increment).each(noop);

            #underscore
              %textarea
                :preserve
                  // Underscore/Lo-Dash code
                  _.each(_.map(array, increment), noop);

          .actions
            %button#new-benchmark New
            %button#run-benchmarks Run
            %button#save-benchmarks Save

      %script#benchmark-template(type="text/plain")
        :plain
          (function(suite) {
            var benchmark = new Benchmark("<%= name %>", {
              setup: function() {
                var N = <%= inputSize %>;
                <%= setup %>
              },
              fn: function() { <%= code %> },
            });

            benchmark.inputSize = <%= inputSize %>;

            suite.add(benchmark);
          }(suite));
